body {
    background-color: rgb(12, 79, 82);
    color: rgb(245, 194, 194);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
    background-color: black;
    border: none;
    height: 2px;
    width: auto;
}
.hidden {
    height: 75px;
    border: none;
    background-color: rgb(12, 79, 82);
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

.hul {
    font-size: 125%;
    list-style-type: none;
}

.header {
    background-color: rgb(4, 40, 42);
    padding: 10px;
}

a {
    background-color: rgb(12, 79, 82);
    color: rgb(245, 194, 194);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

th, td {
    text-align: center;
    width: 33.3%;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.footer-links {
    text-align: center;
}